{{!-- header.hbs --}}
<section class="hero is-small is-primary">
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/weather">Forecast weather</a>
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/help">Help</a>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Wheater App
        </h1>
        <h2 class="subtitle">
            Hover over Blog
        </h2>
        </div>
    </div>
</section>
