<!DOCTYPE html>
<html>
<head>
<!--<link rel="stylesheet" href="/css/styles.css">-->
<link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>
    {{> header}}
    <section class="section is-large">
        <div class="container">

        </div>
    </section>
    {{> footer}}
</body>
</html>